aside
	.sidebar_title_1 Derniers commentaires
	.block_sidebar_latest_comments
		article
			.num 1
			.content
				.author
					span Mark Summers
					| says:
				.comment Aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
		article
			.num 2
			.content
				.author
					span Sara hornet
					| says:
				.comment Magni dolores eos qui ratione voluptatem sequi nesciunt.
