.block_general_title_1.w_margin_1
	h1 En vedette
	h2 Post jugés important
.block_posts.type_2
	each article, i in articles
		if article.article_en_vedette
			article.post_type_4
				.feature
					.image
						a(href='blog_post.html')
							img(src='#{article.article_image_url}', alt='image du post')
							span.hover
				.content
					.info
						.tags
							| etiquette
							| ,
						.date 27, 2013
						.stats
							.likes 15
							.comments 7
					.title
						a(href='blog_post.html') #{article.article_titre}
	.clearboth
	.line_1
