.block_general_title_1.w_margin_1
	h1 En vedette
	h2 Post jugés important
.block_posts.type_2
	article.post_type_4
		.feature
			.image
				a(href='blog_post.html')
					img(src='images/pic_f_post_1_1.jpg', alt='')
					span.hover
		.content
			.info
				.tags
					a(href='#') TRAVEL
					| ,
					a(href='#') LIFE
				.date 27, 2013
				.stats
					.likes 15
					.comments 7
			.title
				a(href='blog_post.html') Sed ut perspiciatis unde omnis iste natus sit volup.
	article.post_type_4
		.feature
			.image
				a(href='blog_post.html')
					img(src='images/pic_f_post_1_2.jpg', alt='')
					span.hover
		.content
			.info
				.tags
					a(href='#') TRAVEL
					| ,
					a(href='#') LIFE
				.date 27, 2013
				.stats
					.likes 15
					.comments 7
			.title
				a(href='blog_post.html') Red ut perspiciatis unde omnis iste.
	article.post_type_4
		.feature
			.image
				a(href='blog_post.html')
					img(src='images/pic_f_post_1_3.jpg', alt='')
					span.hover
		.content
			.info
				.tags
					a(href='#') TRAVEL
					| ,
					a(href='#') LIFE
				.date 27, 2013
				.stats
					.likes 15
					.comments 7
			.title
				a(href='blog_post.html') Totam rem aperiam, eaque ipsa quae ab illo inventore.
	.clearboth
	.line_1
