header
	#header
		section.top
			.inner
				.block_top_menu
					nav
						ul

							li(class=title == 'accueil' ? 'current_page_item' : undefined)
								a(href="/") Accueil
							li(class=title == 'articles' ? 'current_page_item' : undefined)
								a(href="/articles") Articles
							li(class=title == 'categories' ? 'current_page_item' : undefined)
								a(href='/categories') Categories
				.block_search
					input.w_focus_mark(type='text')
				.block_top_social
					ul.general_social_1
						li
							a.social_1(href='#') Twitter
						li
							a.social_2(href='#') Facebook
				.clearboth
		section.middle
			.inner
				#logo_top
					a(href='/')
						img(src='http://www.titanui.com/wp-content/uploads/2015/06/25/Happy-New-Year-2016-Banner-Vector.jpg', alt='Enterprise', title='Enterprise')
