header
	#header
		section.top
			.inner
				.block_top_menu
					nav
						ul
							li.current_page_item
								a(href='/') Accueil
							li
								a(href='/articles') Articles
							li
								a(href='/categories.html') Categories
				.block_search
					input.w_focus_mark(type='text')
				.block_top_social
					ul.general_social_1
						li
							a.social_1(href='#') Twitter
						li
							a.social_2(href='#') Facebook
				.clearboth
		section.middle
			.inner
				#logo_top
					a(href='index.html')
						img(src='images/logo_top1.png', alt='Enterprise', title='Enterprise')
