aside
	.sidebar_title_1 Les + commentés
	.block_sidebar_most_commented
		article
			a(href='#')
				span.num
					| 12
					span.tail
				span.title Quae ab illo inventore veritatis et quasi.
		article
			a(href='#')
				span.num
					| 8
					span.tail
				span.title Fugit, sed quia consequuntur.
		article
			a(href='#')
				span.num
					| 7
					span.tail
				span.title Sed quia consequuntur magni dolores eos qui.
