.sidebar_title_1 Posts populaires
	.block_sidebar_popular_posts
		article
			.image
				a(href='#')
					img(src='images/pic_popular_post_1_1.jpg', alt='')
			.content
				.title
					a(href='blog_post.html') Quae ab illo inventore veritatis et quasi.
				.info
					.tags
						a(href='#') TRAVEL
						| ,
						a(href='#') LIFE
					.date 27, 2013
		article
			.image
				a(href='#')
					img(src='images/pic_popular_post_1_2.jpg', alt='')
			.content
				.title
					a(href='blog_post.html') Nemo enim ipsam voluptatem quia voluptas.
				.info
					.tags
						a(href='#') TRAVEL
						| ,
						a(href='#') LIFE
					.date 27, 2013
		article
			.image
				a(href='#')
					img(src='images/pic_popular_post_1_3.jpg', alt='')
			.content
				.title
					a(href='blog_post.html') Sit aspernatur aut odit aut fugit, sed quia.
				.info
					.tags
						a(href='#') TRAVEL
						| ,
						a(href='#') LIFE
					.date 27, 2013
