aside
	.sidebar_title_1 Social
	.block_sidebar_social
		.row.fb
			.text 25,750 Fans
			.button
				a(href='#') Like
		.row.tw
			.text 16,321 Followers
			.button
				a(href='#') Follow
		.row.rss
			.text 56,124 Subscribers
			.button
				a(href='#') Subscribers
