extends layout
block content
	.inner
		div.coco
			section
				form.contact(method='post',action='/articles/ajouter')
					fieldset.contact-inner
						p.contact-input
							input(type='text', name='titre', placeholder='titre', autofocus='')
						p.contact-input
							input(type='text', name='sous_titre', placeholder='sous_titre')
						p.contact-input
							label.select(for='select')
								select#select(name='categorie')
									each categorie, i in categories
										option(value='#{categorie._id}') #{categorie.categorie_titre}
						p.contact-input
							textarea(name='contenu', placeholder='Le contenu ')
						p.contact-input
							input(type='text', name='auteur', placeholder='Le nom de l\'auteur')
						p.contact-submit
							input(type='submit', value='Validre')
						a.general_colored_button.orange(href='/gestionnaire/articles') Retour
