extends layout
block content
	.inner
		div.coco
			section
				ul.erreurs
						if errors
								each erreur, i in errors
									div.general_info_box.error
										a.close(href='#') fermer
										p Erreur #{erreur.msg}
				form.contact(method='post',action='/categories/ajouter')
					fieldset.contact-inner
						p.contact-input
							input(type='text', name='categorie_titre', placeholder='titre', autofocus='')
						p.contact-input
							input(type='text', name='categorie_description', id='categorie_description',placeholder='description')
						p.contact-submit
							input(type='submit', value='Valider')
						a.general_colored_button.orange(href='/gestionnaire/categories') Retour
