extends layout
block content
	.inner
		.block_general_title_1.w_margin_1
			h1 Tous les articles
		.main_content
			.block_posts.type_3
				article.post_type_4
					.feature
						.image
							a(href='articles/articleunique/1')
								img(src='images/pic_post_2_1.jpg', alt='')
								span.hover
					.content
						.info
							.tags
								a(href='#') TRAVEL
								| ,
								a(href='#') LIFE
							.date 27, 2013
							.stats
								.likes 15
								.comments 7
						.title
							a(href='blog_post.html') Quae ab illo inventore veritatis et quasi architecto beatae.
						.line_1
				article.post_type_4
					.feature
						.image
							a(href='articles/articleunique/2')
								img(src='images/pic_post_2_2.jpg', alt='')
								span.hover
					.content
						.info
							.tags
								a(href='#') TRAVEL
								| ,
								a(href='#') LIFE
							.date 27, 2013
							.stats
								.likes 15
								.comments 7
						.title
							a(href='blog_post.html') Totam rem aperiam, eaque ipsa quae ab illo inventore verit.
						.line_1
				article.post_type_4
					.feature
						.image
							a(href='blog_post.html')
								img(src='images/pic_post_2_3.jpg', alt='')
								span.hover
					.content
						.info
							.tags
								a(href='#') TRAVEL
								| ,
								a(href='#') LIFE
							.date 27, 2013
							.stats
								.likes 15
								.comments 7
						.title
							a(href='blog_post.html') Rem aperiam, eaque ipsa quae ab illo inven.
						.line_1
				article.post_type_4
					.feature
						.image
							a(href='blog_post.html')
								img(src='images/pic_post_2_4.jpg', alt='')
								span.hover
					.content
						.info
							.tags
								a(href='#') TRAVEL
								| ,
								a(href='#') LIFE
							.date 27, 2013
							.stats
								.likes 15
								.comments 7
						.title
							a(href='blog_post.html') Red ut perspiciatis unde omnis iste.
						.line_1
			.separator(style='height:43px;')
			.block_pager_1
				ul
					li.current
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li.skip ...
					li
						a(href='#') 7
					li
						a.next(href='#') Next
				.info Page 1 of 7
				.clearboth
