extends layout
block content
	.inner
		.block_general_title_1.w_margin_1
			h1 Toutes les categories
			p.etiquette
				a.color1(href='articles/categorie/Titre') Titre

			hr
			div.block_footer_tags
				ul
					li
						a(href='articles/categorie/Titre') Titre
