extends layout
block content
	.inner
		.block_general_title_1.w_margin_1
			h1 Toutes les categories
			ul
				each categorie, i in categories
					li
						a(href='articles/categorie/#{categorie._id}') #{categorie.titre}
		hr
		div.block_footer_tags
			ul
				each categorie, i in categories
						li
						a(href='articles/categorie/#{categorie._id}') #{categorie.titre}
