extends layout
block content
	.inner
		div.coco
			section
				h1 Gerer les categories
				!= messages()
				a.general_colored_button.green.espace(href='categories/ajouter') Ajouter une categorie
				a.general_colored_button.blue(href='articles') Gerer les article
				table.rwd-table
					tr
						th Titre categorie
					each categorie, i in categories
						tr
							td #{categorie.titre}
							td
								a.general_colored_button.red(href='/gestionnaire/categories/editer/#{categorie._id}') Editer
