doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/public/lib/font-awesome/css/font-awesome.css')
	body.sticky_footer
			.wrapper
				// HEADER BEGIN
				include ./includes/header.jade
				// HEADER END
				// CONTENT BEGIN
				block content
				include ./includes/footer.jade
		script('src=/javascripts/jquery.js')
		script('src=/javascripts/plugins.js')
		script('src=/javascripts/main.js')
		script('src=/javascripts/monscript.js')
		script('src=/public/lib/angular/angular.js')
		script('src=http://tinymce.cachefly.net/4.2/tinymce.min.js')
		script(type="text/javascript").
			tinymce.init({	selector:'#categorie_description',
				menubar: false,
				theme_advanced_buttons1 : "mybutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright, justifyfull,bullist,numlist,link,unlink",
				theme_advanced_buttons2 : "",
				theme_advanced_buttons3 : ""});
